section{
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 1px 40px 1px 40px;
}

header{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 20px;
    font-size: 40px;
    margin: 10px, 10px, 10px, 10px
}

#date{
    margin: auto;
    font-size: .5em
}

.subheading{
    color: #0f4c66;
    font-size: .8em
}

ul{
    font-size: .5em
}

ol{
    font-size: .5em
}

em{
    text-decoration:underline;
    font-size: .5em
}

nav{
    border-style:dashed;
    border-color:black;
    border-width: 2px;
    border-radius: 10%;
    font-size: .5em;
    width:500px;
    text-align: center
}

.imgs{
    width:100px;
    height:100px;
}

.video{
    width: 320px;
    height: 240px;
}

details{
    width: 400px;
}

